# ==========================================
# 🛡️ PROTOCOLO DE LIMPIEZA: NIVEL SENIOR
# ==========================================

# --- 1. Python & Compilados (Basura del sistema) ---
__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- 2. Entornos Virtuales (El Búnker) ---
venv/
.venv/
env/
ENV/

# --- 3. Configuración Local y Secretos (SEGURIDAD CRÍTICA) ---
# Jamás subas esto o te hackean
.envrc
.env
.env.local
.vscode/
.idea/

# --- 4. Multimedia (GitHub no es Spotify ni Instagram) ---
# Si necesitas assets, súbelos a un S3 o CDN, no al repo
*.mp3
*.wav
*.flac
*.aac
*.mp4
*.mov
*.avi
*.mkv
*.wmv
*.gif
*.jpg
*.jpeg
*.png
*.bmp
*.tiff
*.ico
*.svg

# --- 5. Oficina y Documentos Pesados ---
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.odt
*.ods
*.txt

# --- 6. Archivos Comprimidos ---
*.zip
*.tar
*.tar.gz
*.rar
*.7z
*.gz

# --- 7. Logs, Temporales y Backups ---
*.log
*.bak
*.tmp
*.swp
.DS_Store
Thumbs.db

# --- 8. Bases de Datos Locales ---
*.sqlite3
*.db

# --- 9. Texto Genérico (Excepción Quirúrgica) ---
# Ignoramos todos los .txt basura...
*.txt
# ...PERO salvamos el sagrado requirements.txt y el CMakeLists
!requirements.txt
!CMakeLists.txt
